.skills-section{
    background-image: url('./onda-correcta.png'); 
    background-repeat: no-repeat;
    background-position: 100% 41%; 
    margin: 1rem; 
}

.skills-tec{
  background-color:#ececec ;
  color:#3a143f;
  padding:0;
  margin-bottom: 10rem;
  border-bottom-style: unset ;
  z-index: 0;
}

.skills-soft{
  background-color:#3a143f ;
  color:#ececec;
  padding: 0rem; 
}


.soft-title{
    font-family: 'Merienda One', cursive;
    font-size: 3.2rem;
    padding-top:2rem; 
    margin-right: 40rem;
}

.tec-title{
    font-family: 'Merienda One', cursive;
    font-size: 3.2rem;
    padding-top:2rem; 
    margin-left: 45rem;
}

.tecList{
    column-count: 3; 
    margin-right: 20rem;
    margin-top:-6rem;
    height: auto;
    width: 60%;
}

 .softList{
     padding:0;
     margin-left: 23rem;
     margin-top: -6rem;
     column-count: 3;
     width: 60%;
} 

.list-soft{
    font-family: sans-serif;
    overflow: hidden;
    padding:1rem;
    background:  #3a143f;
    background-color:#ececec;
    color: #3a143f;
    margin-bottom: 1rem;
    font-size: 1rem;
    width: 10rem;
    height: 2rem; 
}

.list-tec{
    font-family: sans-serif;
    overflow: hidden;
    padding:1rem;
    background-color:  #3a143f;
    color: #ececec;
    margin-bottom: 1rem;
    font-size: 1rem;
    width: 10rem;
    height: 2rem;
}

