.skills-container{
    width: 100%;
    margin-top: 1rem;
    background-color: rosybrown;
}

.skills-container section{
    width: 90%;
    /* background-color: royalblue; */
    margin: auto auto;
}

.skills-container section h1{
    background: red;
    font-family: 'Merienda One', cursive; 
    font-size: 3rem;
    padding: 1rem 7rem 1rem 3rem;
}

.tools{
    text-align: right;
    color:#3a143f;
}

.soft{
    color:#ececec;
}


.tech{
    background-color:#ececec ;
}

.soft{
    background-color:#3a143f
}

.skills-container img{
    width:90%;
    margin-left:5%; 
    margin-bottom:0;
}

@media screen and (max-width: 894px) {
    .skills-container section h1{
        padding-right: 3rem;
    }

}

/*_____----------------------------*/

/* .skills-section{
    background-image: url('./onda-correcta.png'); 
    background-repeat: no-repeat;
    background-position: 100% 41%; 
    margin: 1rem; 
}

.skills-tec{
  background-color:#ececec ;
  color:#3a143f;
  padding:0;
  margin-bottom: 10rem;
  border-bottom-style: unset ;
  z-index: 0;
}

.skills-soft{
  background-color:#3a143f ;
  color:#ececec;
  padding: 0rem; 
}


.soft-title{
    font-family: 'Merienda One', cursive;
    font-size: 3.2rem;
    padding-top:2rem; 
    margin-right: 40rem;
}

.tec-title{
    font-family: 'Merienda One', cursive;
    font-size: 3.2rem;
    padding-top:2rem; 
    margin-left: 45rem;
}

.tecList{
    column-count: 3; 
    margin-right: 20rem;
    margin-top:-6rem;
    height: auto;
    width: 60%;
}

 .softList{
     padding:0;
     margin-left: 23rem;
     margin-top: -6rem;
     column-count: 3;
     width: 60%;
} 

.list-soft{
    font-family: sans-serif;
    overflow: hidden;
    padding:1rem;
    background:  #3a143f;
    background-color:#ececec;
    color: #3a143f;
    margin-bottom: 1rem;
    font-size: 1rem;
    width: 10rem;
    height: 2rem; 
}

.list-tec{
    font-family: sans-serif;
    overflow: hidden;
    padding:1rem;
    background-color:  #3a143f;
    color: #ececec;
    margin-bottom: 1rem;
    font-size: 1rem;
    width: 10rem;
    height: 2rem;
}
 */
