@import url('https://fonts.googleapis.com/css?family=Merienda+One|Roboto+Condensed&display=swap');

.home-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.text-home {
  left: 10%;
  color: #3a143f; 
  position: absolute;
  z-index: 1;
  margin-top: 14rem;
  font-size: 2rem;
  
}

.background {
  width: 90%;
  height: 23rem;
  background-color: #f0f7f5;
}

.trans {
  opacity: 0.3;
  width: 90%;
}

.subtitle{
  font-family: 'Roboto Condensed', sans-serif;
}

.title{
  font-family: 'Merienda One', cursive;
  margin-bottom: -1.5rem;
}

@media screen and (max-width: 560px){

  .title{
    font-size: 2.5rem;
    margin-bottom: -.5rem;
  }

  .subtitle{
    font-size: 1.9rem;
}

/* .text-home{
  display:flex;
  justify-content: center;
} */

}