@import url('https://fonts.googleapis.com/css?family=Merienda+One|Roboto+Condensed&display=swap');

.nav {
    background-position: center;
    background-repeat: no-repeat;
    background-color: #ebebeb;
    position: sticky;
    top: 0px;
    height: 4rem;
    z-index: 1000;
    box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.15);
    font-family: 'Roboto Condensed', sans-serif;
  }
  
  #logo {
    margin-bottom: -1.5rem;
    height: 4rem; 
  }

  #item{
    line-height: 4rem;
  }
  
  .nav-logo:hover {
    cursor: pointer;
  }
  
  .nav .nav-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-right: 10rem;
  }
  
  .nav-item {
    
    display: inline;
    margin-left: 3rem;
    color: #333;
  }
  
  .nav-item:hover {
    color: black;
    cursor: pointer;
  }