@import url('https://fonts.googleapis.com/css?family=Merienda+One|Roboto+Condensed&display=swap');

#home{display: none;}

.menu-icon{
  display: none;
}

header{
  width:100%;
  display: flex; 
  justify-content:center; 
}

header nav{
  width:90%;
  background-color:#ebebeb ;
  text-align: center;
  position: fixed;
  z-index:3 ;
  box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.15);

}

header nav ul{
  display: flex;
  justify-content: center;
  align-items: center;
}

header nav ul li{
  font-family: 'Roboto Condensed', sans-serif;
  padding:20px;
  text-decoration:none;
  display:block;
  color: #333;
}

header nav ul li:hover{
  background-color:#e7e5e5;
}

header nav ul img{
  width: 4rem;
}

 @media screen and (max-width: 894px) {

  .menu-bar{
    display: block;
    z-index: 3;
  }

  #logo{
    display:none;
  }

  #home{
    display:block;
  }

  header nav {
    width:100%;
    height: auto;
		margin:0;
    
  } 
  
  header nav ul{
  display: none;
  }
 
	 header nav ul li {
		border-bottom:1px solid rgba(255,255,255, .3);
	} 
 
	 .menu-bar {
    background: #ebebeb; 
    width:100%;
    border-bottom:1px solid rgba(255,255,255, .3);
    position: fixed;
    top:0;
  } 
  
   .menu-bar .menu-icon {
		display:block;
		padding:1rem;
    background:#ebebeb;
    width: 2rem;
	} 
 
} 

